@import "../assets/fonts/Gilroy/stylesheet.css";
@import "../assets/fonts/Roboto/stylesheet.css";

@import "./Sidebar.scss";
@import "./Dashboard/Dashboard.scss";
@import "./Dashboard/DashboardButton.scss";

@import "@styles/common";
@import "./Habits/Habits.scss";

body {
    margin: 0;
    font-family: Roboto;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: $bgColor;
}

.svg {
    min-width: 10px;
    height: auto;
}

.hover {

    &-active,
    &:hover {
        background: #E3F2FD;
        color: $primary;
    }
}